@import "tailwindcss";

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

/* Root */
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #18181b;
}

/* Smooth */
* {
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
